@import url('https://fonts.cdnfonts.com/css/codec-cold');
@import url('https://fonts.cdnfonts.com/css/codec-warm-trial');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

header{
    height: 100vh;
}

header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: #E3E4DB;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: block;
    z-index: -10;
}

h1{
    color: #000000;
    font-size: 118px;
    font-family: 'Codec Cold Trial', sans-serif;
    font-weight: 800;
    margin-left: 14.5%;
    margin-bottom: -6%;
}

h1.azulado{
    color:#1098F7;
}

header{
    margin-top: 12%;
}

.botao{
    top: 665px;
    left: 190px;
    color: #02334E;
    width: 241px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-family: 'Codec Cold Trial', sans-serif;
    font-weight: 800;
    text-decoration: none;
}

.retangulo-azul{
    background: #1098F7;
    top: 209px;
    left: 621px;
    width: 567px;
    height: 429px;
    position: absolute;
}   

img{
    top: 166px;
    left: 658px;
    width: 573px;
    height: 435px;
    position: absolute;
}

#secao-apresentacao{
    display: flex;
    align-items: center;
    gap: 5rem;
    padding: 2rem;
}

.retangulo-marrom{
    top: 900px;
    left: 0px;
    width: 425px;
    height: 900px;
    position: absolute;
    background: #655E4C;
}

.NB{
    top: 900px;
    left: -655px;
    transform: 'rotate(-35deg)';
    position: absolute;
}

.texto-nw{
    padding: 0%;
    top: 1542px;
    color: rgb(0, 0, 0);
    left: -90px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: bold;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
}

.retangulo-laranja{
    top: 900px;
    left: 425px;
    width: 427px;
    height: 900px;
    position: absolute;
    background: #FB9F31;
}

.SWISS{
    top: 900px;
    left: -355px;
    transform: 'rotate(-35deg)';
    position: absolute;
}

.texto-swiss{
    top: 1542px;
    left: 300px;
    color: rgb(0, 0, 0);
    width: 523px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: bold;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
}

.retangulo-vermelho{
    top: 900px;
    left: 852px;
    width: 428px;
    height: 900px;
    position: absolute;
    background: #F07274
}

.YEEZY{
    top: 900px;
    left: 0px;
    transform: 'rotate(-35deg)';
    position: absolute;
}

.texto-yeezy{
    top: 1542px;
    right: -300px;
    color: rgb(0, 0, 0);
    width: 523px;
    height: auto;
    position: absolute;
    font-size: 48px;
    font-style: bold;
    text-align: left;
    font-family: 'Helvetica Neue', sans-serif;
}