@import url('https://fonts.cdnfonts.com/css/codec-cold');
@import url('https://fonts.cdnfonts.com/css/codec-warm-trial');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
}

header{
    min-width: 100%;
    background-color: #E3E4DB;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15%;   
    height: 100vh; /*para funcionar na FIAP*/
}


header .titulos h1{
    color: #000000;
    font-size: 118px;
    font-family: 'Codec Cold Trial', sans-serif;
    font-weight: 800;
    margin-left: 12.5%;
}

header .titulos h1.azulado{
    color: #1098F7;
}

header .titulos{
    display: flex;
    flex-direction: column;
}

header .titulos a.botao{
    color: #02334E;
    font-size: 24px;
    font-family: 'Codec Cold Trial', sans-serif;
    font-weight: 800;
    text-decoration: none;
    margin-left: 12.5%;
    margin-top: 10px;
    transition: all 0.4s;
}

header .titulos a.botao:hover{
    transform: scale3d(1.1,1.1,1.1);
}


header .imagem-tenis img{
    box-shadow: -30px 30px 2px 5px #1098F7;
    width: 650px;
}

section{
    font-family: "Helvetica" , sans-serif;
    font-size: 30px;
    display: flex;
    min-width: 100%;
    flex-wrap: wrap;
}

section .newbalance, .swiss, .puma{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 447.65px;
    flex-direction: column;
    align-items: center;
    gap: 15%;
}

section .newbalance img, .swiss img, .puma img{
    width: 400px;
    
}

section .newbalance {
    background-color: #BEC4CB;
    color: #ffffff;
}
.newbalance h1{
    opacity: 0;
    transition: .7s;
}
.newbalance:hover h1{
    opacity: 1;
}

section .swiss{
    background-color: #FB9F31;
    color: #ffffff;
}
.swiss h1{
    opacity: 0;
    transition: .7s;
}
.swiss:hover h1{
    opacity: 1;
}

section .puma {
    background-color: #3D5862;
    color: #ffffff;
}
.puma h1{
    opacity: 0;
    transition: opacity .7s;
}
.puma:hover h1 {
    opacity: 1;
}

@media  screen and (max-width:1100px){
    header {
        /*flex-direction: column; /*tirar pra funcionar no pc da FIAP*/  
        /*gap: 10%;   tirar pra funcionar no pc da FIAP*/
    }
}   

@media screen and (max-width:1350px) {
    section .newbalance, .swiss, .puma{
        width: 33.33%; /*para funcionar na FIAP*/
        /*width: 100%;*/
    }
}

.modal{
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transfom 0.25s ease-in-out
    opacity 0.25s ease-in-out;
}

.modal_content{
    background-color: white;
    padding: 16px 24px;
    width: 384px;
    border-radius: 0.5rem;
}

span{
    float: right;
    width: 24px;
    cursor: pointer;
    background-color: lightgray;
    text-align: center;
    line-height: 24px;
}

span.enviar{
    background-color: rgb(101, 206, 127);
    width: 120px;
    border-radius: 0.5rem;
    padding: 2%;
    font-size: 24px;
}

span:hover{
    background-color: darkgrey;
}

.show-modal{
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}